{% extends 'base.html' %}
{% block title %}{{ category }}{% endblock %}
{% block content %}
  <div>
    <h3 class="bold center">{{ category }}</h3>
    <div>
      <div class="center" id="category_description">
        {{ category.description|safe }}
      </div>
      {% if category_live_entries %}
        {% for e in category_live_entries %}
          {% include "item_snippet.html" with item=e %}
        {% endfor %}
      {% else %}
        <h3 class="bold center">No entries under this category yet!</h3>
      {% endif %}
    </div>
    {# TODO: there has to be some way to paginate entries here... #}
  </div>
{% endblock %}
