{% extends 'base.html' %}
{% block title %}Media: Images and videos{% endblock %}
{% block content %}
  <div class="center">
    <h3>Media: Images and videos</h3>
  </div>

  <div style="padding-bottom: 100px;">
    {% for m in all_media_tracks %}
      <div style="padding-bottom: 100px;">
        <div style="clear: left;">
          <a style="float: left; padding-right: 10px;" href="{% url 'media:detail' m.slug %}">{{ m.media_link_300200|striptags }}</a>
          <h5 class="bold"><a href="{% url 'media:detail' m.slug %}">{{ m.title }}</a></h5>
          <div>Posted on {{ m.date_added|date:'Y' }}-{{ m.date_added|date:"m" }}-{{ m.date_added|date:"d" }}</div>
          <p>{{ m.description|striptags|truncatewords:14 }}</p>
        </div>
      </div>
    {% endfor %}
  </div>

  {% include 'paginate.html' %}
{% endblock %}
