body {
    background-color: #444;
    color: #e4e4e4;
}

a {
    color: #e6e6e6;
}

div.button-count {
    color: #e4e4e4;
}

img {
    filter: grayscale(30%);
}

a:hover, a.noul:hover {
    color: #f2f2f2;
}

div#banner {
    background-color: #801a00;
    color: #e4e4e4;
}

button#contact, button#user-feedback {
    color: #e4e4e4;
}

button {
    background-color: #222;
    border-color: #222;
}

input[type="submit"] {
    background-color: #222;
    border-color: #222;
    color: #e4e4e4;
}

input[type="submit"]:hover {
    background-color: white;
    border-color: #666668;
}

blockquote, code {
    background-color: #595959;
    border-color: #595959;
}

input[type="email"], input[type="email"]:focus, input[type="number"],
input[type="search"], input[type="text"], input[type="text"]:focus,
input[type="tel"], input[type="url"], input[type="password"], option,
select, textarea, textarea:focus {
    background-color: #444;
    border-color: #595959;
}

input[type="email"]:focus, input[type="text"]:focus, textarea:focus {
    background-color: #595959;
    border-color: #d9d9d9;
}

a#bottom, div#copyright, span.small {
    color: #d9d9d9;
}

.added {
    color: lightgreen;
}

.updated {
    color: lightblue;
}

.removed {
    color: pink;
}

.spoiler {
    background: #e4e4e4;
}
