{% extends 'base.html' %}
{% block title %}Feedback{% endblock %}
{% block content %}
  <div>
    <h3 class="bold center">Feedback</h3>
    {% if request.method == "GET" %}
    <p class="center">
      <p class="bold" style="font-size: 1.4em;">
        Thanks for visiting. Please note that the website maintainer has a significant email backlog and it may take a very long time to get a response. Please feel free to <a href="https://discord.gg/KYKEUxFUsZ">join the Discord channel</a> or <a href="https://web.libera.chat/?channels=#momw">IRC</a> in order to chat with the community. If you've sent an email and waited for a response, sorry about the wait!
      </p>
      <p>Looking to request a change on a mod, request a new mod be listed, or send feedback about a mod's compatibility?  The below form can be used to send this information directly to your neighborhood friendly site admin.</p>
    </p>
    <form method="post">{% csrf_token %}
      <div class="row">
        <div class="six columns">
          <label for="{{ form.submitter_name.id_for_label }}">Your name</label>
          {{ form.submitter_name }}
        </div>
        <div class="six columns">
          <label for="{{ form.submitter_email.id_for_label }}">Your email</label>
          {{ form.submitter_email }}
        </div>
      </div>
      <div class="row">
        <div class="six columns">
          <label for="{{ form.existing_mod.id_for_label }}">Existing mod</label>
          {{ form.existing_mod }}
        </div>
        <div class="six columns">
          <label for="{{ form.compat.id_for_label }}">Compatibility</label>
          {{ form.compat }}
        </div>
      </div>
      <div class="row">
        <div class="six columns">
          <label for="{{ form.new_mod.id_for_label }}">Unlisted mod (addition request, paste a link to the mod below)</label>
          {{ form.new_mod }}
        </div>
        <div class="six columns">
          <label for="{{ form.openmw_version.id_for_label }}">OpenMW Version</label>
          {{ form.openmw_version }}
        </div>
      </div>
      <label for="{{ form.notes.id_for_label }}">Comment</label>
      {{ form.notes }}
      <div class="row">
        <div class="six columns">
          <label for="{{ form.is_anon.id_for_label }}">Anonymous</label>
          {{ form.is_anon }} {{ form.is_anon.help_text }}
        </div>
        <div class="six columns">
          <label for="{{ form.is_public.id_for_label }}">Public</label>
          {{ form.is_public }} {{ form.is_public.help_text }}
        </div>
      </div>
      <p class="bold center">In the future, submissions marked as public may be featured on this website.</p>
      <button class="button u-full-width" id="user-feedback">Submit</button>
    </form>
    {% elif request.method == "POST" %}
    <p class="center">Thanks for your feedback!  Your submission will be recieved by a site admin.</p>
    {% endif %}
  </div>

  {% include "main-nav.html" with cur_page="feedback" %}

{% endblock %}
{% block ddeebbuugg %}

  <div style="background-color: black; color: #00ff00; border-radius: 10px; padding: 20px 30px; margin-bottom: 40px;">
    <h1 class="bold center">YE OLDE DEBUG CONSOLE</h1>
    <p>mod: {{ mod }}</p>
    <p>request.method: {{ request.method }}</p>
    <p>request.POST: {{ request.POST }}</p>
  </div>

{% endblock %}
