{% extends 'base.html' %}
{% block title %}Developers' Guide{% endblock %}
{% block content %}
  <h1>Developers' Guide</h1>

  <p>
    Are you interested in helping build out this website? This page will help you get started!
  </p>

  <h2>Table of contents</h2>

  <ul>
    <li><a href="#prerequisites">Prerequisites</a></li>
    <li><a href="#get-source">Get The Source</a></li>
    <li><a href="#running-the-website">Running The Website</a></li>
    <li><a href="#running-tests">Running The Tests</a></li>
    <li><a href="#making-changes">Making A Change To The Website</a></li>
    <li><a href="#running-without-docker">Running Without Docker</a></li>
  </ul>

  <h3 id="prerequisites"><a href="#prerequisites">Prerequisites</a></h3>

  <p>
    The following are required to follow this guide:
  </p>

  <ul>
    <li><a href="https://www.docker.com/">Docker</a></li>
    <li><a href="https://git-scm.com/">Git</a></li>
    <li>Optional: GNU make</li>
  </ul>

  <p>
    The website is written with the <a href="https://www.djangoproject.com/">Django web framework</a>, which is itself written with <a href="https://www.python.org/">Python</a>. Knowledge of Python and/or web programming are nice, but not strictly required to contribute. Knowledge of how to use git is very beneficial.
  </p>

  <p>
    It's also a good idea to get yourself a text editor that is aware of: Python, HTML, CSS, Javascript, YAML, and TOML
  </p>

  <h3 id="get-source"><a href="#get-source">Get The Source</a></h3>

  <p>
    You can download or clone the website source code <a href="https://gitlab.com/modding-openmw/modding-openmw.com">from GitLab</a>.
  </p>

  <pre><code>cd /some/path
git clone https://gitlab.com/modding-openmw/modding-openmw.com</code></pre>


  <h3 id="running-the-website"><a href="#running-the-website">Running The Website</a></h3>

  <p>
    To run the website from your local source code:
  </p>

  <pre><code>cd /path/to/modding-openmw.com
docker build . -t modding-openmw-dot-com:0
docker run -p 8000:8000 -it -e HOST=0.0.0.0 -e MOMW_VER=wtf -v $(pwd):/app --rm modding-openmw-dot-com:0 reset server

# Or:
make docker-reset-and-run</code></pre>

  <p>You can then visit <a href="http://localhost:8000">http://localhost:8000</a> to view the site locally.</p>

  <h3 id="running-tests"><a href="#running-tests">Running Tests</a></h3>

  <p>
    To run source code tests from your local source code:
  </p>

  <pre><code>cd /path/to/modding-openmw.com
docker build . -t modding-openmw-dot-com:0
docker run -p 8000:8000 -it -e HOST=0.0.0.0 -e MOMW_VER=wtf -v $(pwd):/app --rm modding-openmw-dot-com:0 reset test

# Or:
make docker-tests</code></pre>

  <h3 id="making-changes"><a href="#making-changes">Making A Change To The Website</a></h3>

  <p>
    If you have a change you'd like to see merged into the website codebase, the process looks something like this:
  </p>

  <ul>
    <li>Create a GitLab account if you don't already have one.</li>
    <li>Fork the website source code</li>
    <li>Push your changes to your fork</li>
    <li>Open a merge request to the <code>beta</code> branch</li>
  </ul>

  <p>
    A website maintainer will be notified of your merge request and review it. From there, the path to merging depends on the nature of your change and the availability of maintainers to review and test the changes.
  </p>

  <h3 id="running-without-docker"><a href="#running-without-docker">Running Without Docker</a></h3>

  <p>
    This method is for advanced users, it is not supported on Windows. Linux is strongly recommended and is what the text below is written for but it could be adapted for Macs. <span class="bold">GNU Make and Python 3 with a functional pip are required!</span>
  </p>

  <pre><code>cd /path/to/modding-openmw.com
make venv pip-requirements
make reset server</code></pre>

  <p>
    At this point, you should be able to interact with the codebase as expected. To run tests, do: <code>make reset test</code>
  </p>
  {% include "main-nav.html" with cur_page="guides_developers" %}
{% endblock %}
