<div class="container{% if momw_ver %} mobile-banner-pad{% endif %}">
  <div class="row">
    <div class="twelve columns"><h1 class="bold center"><a class="noul" href="{% url 'index' %}">Modding-OpenMW<span class="smallb">.com</span>{% if momw_ver %} <sup><span class="small">{{ momw_ver }}</span></sup>{% endif %}</a></h1></div>
  </div>
  <div class="row">
    <div class="twelve columns"><form name="search" action="{% url 'search' %}" method="get"><input class="u-full-width" id="id_quicksearch" placeholder="Search" name="q" type="text" value="{{ q }}" /></form></div>
  </div>
</div>
