{% extends 'base.html' %}
{% block title %}Alternative Mods{% endblock %}
{% block content %}
  <div class="center">
    <h3 class="center">Alternatives</h3>
    <div><p>The below list of <span class="bold">{{ mods.count }}</span> mods represents the cast of alternatives to the Total Overhaul list of mods.</p></div>
    <p>
      <a class="button button-primary" href="{% url 'all_mods' %}">All mods</a>
      <a class="button button-primary" href="{% url 'mod_index' %}">Total Overhaul list</a>
      <a class="button button-primary" href="{% url 'no_plugin' %}">Without plugin</a>
      <a class="button button-primary" href="{% url 'with_plugin' %}">With plugin</a>
      <a class="button button-primary" href="{% url 'mod_tag_detail' slug='expanded-vanilla' %}">Expanded Vanilla</a>
      <a class="button button-primary" href="{% url 'mod_tag_detail' slug='tes3mp-friendly' %}">TES3MP-friendly</a>
    </p>
    {% include 'mod_table.html' with mods=mods show_category=True %}
  </div>

  {% include "main-nav.html" with cur_page="alt_mods" prev_link=False next_link=False %}

{% endblock %}
