{% extends 'base.html' %}
{% block title %}Total Overhaul list{% endblock %}
{% block content %}
  <div>
    <h3 class="center">Total Overhaul list</h3>
    <div class="center">Below are <span class="bold">{{ mods.count }}</span> mods, they are presented in the order that they should appear in your <code>openmw.cfg</code> file's <code>data=</code> section.</div>
    <div class="center">This is a curated list by your friendly neighborhood site admin, you are free to pick and choose from it as you see fit.  If you use every mod in this list, you'll end up with a totally overhauled game - visuals, audio, and in-game content will be greatly expanded and altered.</div>
    <div class="center"><a class="bold" href="{% url 'by_step' %}">Click here</a> to go through them one at a time.  Alternatively, you may browse them by <a class="bold" href="{% url 'mod_categories' %}">category</a> or <a class="bold" href="{% url 'mod_tags' %}">tag</a>.</div>
    <p class="center" style="padding-top: 10px;">
      <a class="button button-primary" href="{% url 'all_mods' %}">All mods</a>
      <a class="button button-primary" href="{% url 'mod_alts' %}">Alternatives</a>
      <a class="button button-primary" href="{% url 'no_plugin' %}">Without plugin</a>
      <a class="button button-primary" href="{% url 'with_plugin' %}">With plugin</a>
      <a class="button button-primary" href="{% url 'mod_tag_detail' slug='expanded-vanilla' %}">Expanded Vanilla</a>
      <a class="button button-primary" href="{% url 'mod_tag_detail' slug='tes3mp-friendly' %}">TES3MP-friendly</a>
    </p>
    {% include 'mod_table.html' with mods=mods show_category=True %}
  </div>

  {% include "main-nav.html" with cur_page="mod_index" prev_link='/getting-started/' next_link="/load-order/" %}

{% endblock %}
