{% extends 'base.html' %}
{% block title %}Privacy Policy{% endblock %}
{% block content %}
<div>
  <h3 class="bold center">Privacy Policy</h3>
  <p>
    I collect general visitor stats for this website using <a href="https://www.goatcounter.com/">GoatCounter</a>, this data is <a href="https://stats.modding-openmw.com/">publicly viewable</a>.
  </p>
</div>
{% endblock %}
