{% extends 'base.html' %}
{% block title %}Subscribe{% endblock %}
{% block content %}

  <h2>Subscribe!</h2>

  <p>
    Want to stay up to date on all changes to the website?
  </p>

  <p>
    <li>The website creator does a live coding stream each Saturday and Sunday - check it out on <a href="https://www.twitch.tv/johnnyhostile">Twitch</a>!</li>
    <li>Join the the project <a href="https://discord.gg/KYKEUxFUsZ">Discord</a> or <a href="https://web.libera.chat/?channels=#momw">IRC</a> channels and be a part of the community discussions.</li>
    <li>You can subscribe to the Mod Update Atom feed by clicking <a href="/feeds/mods/">here</a>.</li>
    <li>The latest code changes are viewable <a href="https://gitlab.com/modding-openmw/modding-openmw.com/-/commits/beta">here</a>, you can subscribe to that without an account.</li>
  </p>

  {% include "main-nav.html" with cur_page="subscribe" prev_link=False next_link=False %}

{% endblock %}
