{% extends 'base.html' %}
{% block title %}Tips: Merging Objects{% endblock %}
{% block content %}

  <h3 class="center">Tips: <span class="bold">Merging Objects</span></h3>

  {% include "tips-nav.html" with cur_page="tips-merging-objects" %}

  <p>
    Sometimes, two mods might provide the same object. This is where object merging comes in handy. NullCascade demonstrates the issue quite well in <a href="https://github.com/NullCascade/TES3Merge/blob/5be7c1b816d23998b1d9d941c69df1e690c827bd/readme.md#further-details">his README for TES3Merge</a>, please check that out for an in-depth look at the topic.
  </p>

  <p>
    For OpenMW, the most powerful solution to this issue is <a href="https://gitlab.com/bmwinger/delta-plugin">Delta Plugin</a> by Benjamin Winger. <a href="https://gitlab.com/bmwinger/delta-plugin/-/blob/4d1acf14ec6aa58f88acce1486efba99eeae91d5/README.md">The project README</a> has a detailed description of how the tool works, but from a user's perspective it's a lot like <a href="/mods/omwllf/">John Melesky's OMWLLF script</a>. <a href="/mods/delta-plugin/#usage">The tool's usage notes</a> give detailed instructions on how to use it.
  </p>

  {% include "tips-nav.html" with cur_page="tips-merging-objects" %}

  {% include "main-nav.html" with cur_page="tips-merging-objects" prev_link=False next_link=False %}

{% endblock %}
