{% extends 'base.html' %}
{% block title %}Tips{% endblock %}
{% block content %}

  <h2 class="bold center">Tips</h2>

  <p class="center">
    This section, intended for advanced users, will describe various topics relating to modding with OpenMW in detail.
  </p>

  {% include "tips-nav.html" with cur_page="tips" %}

  <div class="line"></div>

  {% include "main-nav.html" with cur_page="tips" prev_link='/resources/' next_link="/faq/" %}

{% endblock %}
