{% extends 'base.html' %}
{% block title %}Tips: TR Patcher{% endblock %}
{% block content %}

  <h3 class="center">Tips: <span class="bold">TR Patcher</span></h3>

  <h1>NOTE: This page is deprecated but kept for historical purposes</h1>

  <p>The TR Patcher (mentioned briefly <a href="https://www.tamriel-rebuilt.org/about/frequently-asked-questions">in their FAQ</a>) is a small program that updates an <code>.esp</code> or <code>.ess</code> file to ensure it's compatible with data paths and etc in Tamriel Rebuilt. You can download it from <a href="https://www.nexusmods.com/morrowind/mods/47060">Nexus mods</a>.</p>

  <p>An example of a mod that would need to be patched in this way is a cross compatibility mod, like <a href="/mods/graphic-herbalism-tamriel-rebuilt-add-on-extra-min/">Graphic Herbalism Tamriel Rebuilt Add-on Extra (minerals and egg clusters)</a>.  Since that plugin was published, Tamriel Rebuilt has updated and things have changed.  Run the patcher against that plugin to ensure it's updated:</p>

  <pre><code>java -jar TR_FilePatcher_v2.jar</code></pre>

  <p>A GUI will pop up, click "Open Files" and select the plugin file you wish to patch.  After some time it will complete and leave behind a copy of the unmodified plugin (in case results were undesireable.)</p>

  <p><span class="bold">NOTE:</span>  It's been reported to me that the TR Patcher is not compatible with Java 10.  Of course it's important to keep software up to date, but Java 8 is still supported and does work, so for now stick with that when you need to use the TR Patcher.</p>

{% endblock %}
