{% extends 'base.html' %}
{% block title %}Tips: Register BSAs{% endblock %}
{% block content %}

  <h3 class="center">Tips: <span class="bold">Register BSAs</span></h3>

  {% include "tips-nav.html" with cur_page="tips-register-bsas" %}

  <p>When a mod comes with a <code>.bsa</code> file (such as Tamriel Rebuilt), it needs to be 'activated' or else the game will exhibit unwanted behavior (such as the "yellow exclamation points" often seen.)</p>

  <p>
    The easiest way to do this is to use OpenMW-Launcher:
  </p>

  <ol>
    <li>Run OpenMW-Launcher</li>
    <li>Click the "Data Files" icon at the top</li>
    <li>Click the "Archive Files" tab</li>
    <li>New <code>bsa</code> files will be highlighted in green, check the box next to them</li>
    <li>Reorder as needed</li>
  </ol>

  <div class="center" style="margin-bottom: 30px;">
    <img class="pic" src="/images/register-bsas-with-openmw-launcher.png" />
    {# <figcaption>Using OpenMW-Launcher to register BSA files.</figcaption> #}
  </div>

  <p>This can also be done by directly editing <code>openmw.cfg</code> (<span class="bold">only recommended if you know you really want to do it this way</span>), like so:</p>

  <pre><code>fallback-archive=Morrowind.bsa
fallback-archive=Tribunal.bsa
fallback-archive=Bloodmoon.bsa
fallback-archive=PC_Data.bsa
fallback-archive=TR_Data.bsa
fallback-archive=Sky_Data.bsa</code></pre>

  <p>Above is what your "bsa section" would look like if you used every mod in the recommended list, and ordering matters.  But that's all there is to it, "registering BSAs" just boils down to adding a line to your config file.</p>

  <p>If you start OpenMW with a BSA registered that does not exist, there will be an error telling you about it and the game will not start.</p>

  {% include "tips-nav.html" with cur_page="tips-register-bsas" %}

  {% include "main-nav.html" with cur_page="tips-register-bsas" prev_link=False next_link=False %}

{% endblock %}
